* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #999;
  width: 100%;
}

h1 {
  text-align: center;
  font-size: 2.5rem;
  padding: 50px;
}

.content {
  width: 800px;
  position: relative;
  left: 50%;
  transform: translate(-25%);
}

button {
  width: 20%;
  padding: 10px;
  margin: 0 10px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 2px 5px hsl(0, 0%, 40%);
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.02rem;
}

.buttons {
  width: 100%;
  /* display: flex; */
}

.active {
  background: hsl(0, 0%, 70%);
  border: 2px solid red;
}

.toggleAllBtn {
  margin-top: 20px;
  width: 54%;
}

.inputs {
  padding: 20px;
}

.inputs h3 {
  margin-bottom: 10px;
}

input {
  font-size: 20px;
  border: 1px solid blueviolet;
  border-radius: 4px;
  padding: 5px;
  margin-top: 10px;
}

.listContainer {
  margin-top: 20px;
}

li {
  font-size: 28px;
}

.changeBtn input:nth-child(2) {
  width: 55px;
}

.changeBtn input:nth-child(3) {
  width: 24.5%;
}

.deleteBtn {
  width: auto;
  padding: 2px 5px;
}

.lrnClass {
  font-size: 34px;
  margin: 20px;
}
