* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #999;
  height: 100%;
}

h1 {
  text-align: center;
  font-size: 2.5rem;
  padding: 20px;
}

button {
  width: 20%;
  padding: 10px;
  margin: 0 10px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 2px 5px hsl(0, 0%, 40%);
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.02rem;
}

.buttons {
  width: 100%;
  display: flex;
}

.active {
  background: hsl(0, 0%, 70%);
  border: 2px solid red;
}

.btnDisplay {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
}

.inputs {
  padding: 20px;
}

.inputs h3 {
  margin-bottom: 10px;
}

input {
  font-size: 20px;
  border: 1px solid blueviolet;
  border-radius: 4px;
  padding: 5px;
  margin-top: 10px;
}

.listContainer {
  display: flex;
  justify-content: center;
  position: relative;
  left: -50px;
  margin-top: 30px;
}
